{{ define "main" }}

<h1 style="text-align: center;">
  justin is online
</h1>

<p>hello internet! Justin is on the web =^..^=</p>

<style>
  :root {
    --image-border-color: black;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --image-border-color: white;
    }
  }
</style>

<input type="image" src="/closeup-cat.png" name="audio-toggle" onclick="playAudio()"
  style="width: 300px; border: dashed 2px var(--image-border-color)">

<script>
  function playAudio() {
    var audio = new Audio('/meow.mp3')
    audio.play()
  }
</script>

{{ end }}
