body {
  font-family: sans-serif;
  line-height: 1.6;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 10px;
}

nav {
  margin: 20px 0;
}

nav a {
  margin-right: 10px;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

.list-item {
  margin-bottom: 20px;
}


a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
}
